   /* Header */
.header {
    background: #FFFFFF;
    height: 100px;
    padding: 20px 40px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E6EFF5;
}

.page-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #343C6A;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-container {
    width: 255px;
    height: 50px;
    background: #F5F7FA;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 15px;
}

.search-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.search-input {
    border: none;
    background: transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #8BA3CB;
    width: 100%;
    outline: none;
}

.search-input::placeholder {
    color: #8BA3CB;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-circle {
    width: 50px;
    height: 50px;
    background: #F5F7FA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Sidebar */
.sidebar {
    width: 250px;
    background: #FAFBFF;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    border-right: 1px solid #E6EFF5;
}

.logo {
    padding: 32px 44px;
    display: flex;
    align-items: center;
    gap: 9px;
}

.logo-img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.logo-text-img {
    width: 138px;
    height: 32px;
    object-fit: contain;
}

.sidebar-menu {
    padding: 0;
    margin-top: 20px;
}



.menu-item {
    display: flex;
    align-items: center;
    padding: 19px 0 19px 43px;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s;
}

.menu-item.active {
    background: rgba(24, 20, 243, 0.05);
}

.menu-item.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 60px;
    background: #1814F3;
    border-radius: 0 10px 10px 0;
}

.menu-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 27px;
}

.menu-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #B1B1B1;
}

.menu-item.active .menu-text {
    color: #1814F3;
}
   
   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    }


body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.main-1{
    margin-left:12%;
    padding:1px 16px;
    height:1000px;
}

.main-main-main{
  margin-top: 25px;
}

.Logo{
    width: 186px;
    height: 36px;
}

.flex{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100px;
  border-left:1px solid #E6EFF5; ;
}

.some-flex{
  width: 500px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.header-img{
  width: 50px;
  height: 50px;
}

.input-header{
  height: 50px;
  width: 255px;
  border-radius: 16px;
  background-color: #F5F7FA;
  border: none;
}

.blue-line{
  border-left: 5px solid #2D60FF;
  border-top-right-radius: 10px;
}

.flex-0 img{
  margin-right:30px ;
}

.asside-logo{
  margin-top: 31px;
  margin-left: 38px;
}

.main-main{
  background-color: #F5F7FA;
  width: 100%;
  height: 1100px;
  border-top: 1px solid #E6EFF5;
  border-left:1px solid #E6EFF5;
}

.back-blue{
  width: 450px;
  height: 235px;
  background-color:#0A06F4 ;
  border-radius: 20px;
  margin-left: 40px;
  
}

.flex-2{
  display: flex;
  justify-content: space-between;
  width: 970px;
  height: 40px;
  align-items: center;
}

.My-cards{
  font-size: 22px;
  margin-left:40px;
  font-weight: 600;
}

.See-All{
  font-size: 22px;
  font-weight: 600;
}

.flex-card-1{
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.balance{
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 26px;
}

.flex-card-1 img{
  margin-top: 24px;
  width: 34px;
  height: 34px ;
}

.balance-1{
  margin-top: 24px;
}

.dollars{
  margin-bottom: 33px;
  font-size: 28px;
  font-weight: 400;
}

.flex-card-2{
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.text-1{
  font-size: 15px;
}

.text-2{
  font-size: 12px;
  
}

.card-number{
  margin-top: 35px;
  background-color:#4C49ED ;
  height: 75px;
  border-radius: 0px 0px 20px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-number-2{
  font-size: 22px;
  margin-right:100px ;
  font-weight: 600;
}


.card-number img{
  width: 44px;
  height: 30px;
}

.card-number span{
  font-size: 22px;
}

.card-two{
  display: flex;
}

.back-white{
  border: 1px solid #DFEAF2;
  width: 450px;
  height: 235px;
  background-color:white;
  border-radius: 20px;
  margin-left: 40px;
}

.balance-2{
  color: #718EBF;  
  margin-top: 24px;
}

.dollars-1{
  color: #343C6A;
  margin-bottom: 33px;
  font-size: 28px;
  font-weight: 400;
}

.holder{
  color:#718EBF;
}

.Eddy{
  color: #343C6A;
}

.card-number-1{
  border-top:1px solid #DFEAF2 ;
  margin-top: 35px;
  background-color:white;
  height: 75px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
}

.red{
  color: #FF4B4A; 
  font-size:22px ;
    font-weight: 600;
}

.green{
  color: #41D4A8;
  font-size: 22px;
    font-weight: 600;
}

.Deposit{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color:#232323 ;
}

.january{
  font-size: 15px;
  color: #718EBF;
}

.right-part{
  padding-left: 30px;
}

.card-three{
  display: flex;
}

.high{
  display: flex;
  align-items: center;
  text-align: center;
}

.recent{
  font-size: 22px;
  margin-left: 90px;
  font-weight: 600;
}

.back-white-1{
  width: 450px;
  height: 250px;
  background-color:white;
  border-radius: 20px;
  margin-left: 40px;
}

.transaction{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
  width: 450px;
}

.from{
  margin: 25px 25px 0px 25px;
  display: flex;
}

.transaction img{
  width: 55px;
  height: 55px;
}

.column{
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.three-in-one{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floor-2{
  margin-left: 40px;
  margin-top: 30px;
}

.graphic{
  width: 950px;
  height: 322px;
}

.floor-2-text{
  width: 1190px;
  display: flex;
  justify-content: space-between;
}

.Weekly{
  padding-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.img-floor-2{
  width: 1360px;
  display: flex;
  justify-content: space-between;
}

.floor-3{
  margin-left: 45px;
}

.Expense{
  font-size: 22px;
  font-weight: 600;
}

.back-white-2{  
  width:600px;
  height: 280px;
  background-color:white;
  border-radius: 25px;
}

.floor-3-text{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.four-img{
  display: flex;
  justify-content: space-around;
  height: 200px;
  text-align: center;
  align-items: center;
}

.img-1{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.floor-2-text-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.write{
  font-size: 16px;
  color: #718EBF;
}

.floor-3-flex{
  display: flex;
}

.graphic-3{
  margin-left: 40px;
}

.Quick{
  font-size: 22px ;
  font-weight: 600;
}

.CEO{
  color: #718EBF;
}
