    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    }


body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.main-1{
    margin-left:16%;
    padding:1px 16px;
    height:1000px;
}

.Logo{
    width: 186px;
    height: 36px;
}

.flex{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100px;
  border-left:1px solid #E6EFF5; ;
}

.some-flex{
  width: 500px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.header-img{
  width: 50px;
  height: 50px;
}

.input-header{
  height: 50px;
  width: 255px;
  border-radius: 16px;
  background-color: #F5F7FA;
  border: none;
}

.big-text{
  font-size: 28px;
  color: #343C6A;
  margin-left: 40px;
    font-weight: bold;
}

.flex-0{
  margin-left: 38px;
  margin-top:42px ;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #B1B1B1;
  font-weight: 600;
}

.blue-line{
  border-left: 5px solid #2D60FF;
  border-top-right-radius: 10px;
}

.flex-0 img{
  margin-right:30px ;
}

.asside-logo{
  margin-top: 31px;
  margin-left: 38px;
}

.main-main{
  background-color: #F5F7FA;
  width: 100%;
  height: 1100px;
  border-top: 1px solid #E6EFF5;
  border-left:1px solid #E6EFF5;
}

.back-blue{
  width: 450px;
  height: 235px;
  background-color:#0A06F4 ;
  border-radius: 20px;
  margin-left: 40px;
  
}

.flex-2{
  display: flex;
  justify-content: space-between;
  width: 970px;
  height: 40px;
  align-items: center;
}

.My-cards{
  font-size: 22px;
  margin-left:40px ;
    font-weight: bold;
}

.See-All{
  font-size: 17px;
    font-weight: bold;
}

.flex-card-1{
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.balance{
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 26px;
}

.flex-card-1 img{
  margin-top: 24px;
  width: 34px;
  height: 34px ;
}

.balance-1{
  margin-top: 24px;
  font-weight: 500;
}

.dollars{
  margin-bottom: 33px;
  font-size: 28px;
  font-weight: bold;
}

.flex-card-2{
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.text-1{
  font-size: 15px;
}

.text-2{
  font-size: 12px;
  
}

.card-number{
  margin-top: 35px;
  background-color:#4C49ED ;
  height: 75px;
  border-radius: 0px 0px 20px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-number img{
  width: 44px;
  height: 30px;
}

.card-number span{
  font-size: 22px;
}

.card-two{
  display: flex;
}

.back-white{
  border: 1px solid #DFEAF2;
  width: 450px;
  height: 235px;
  background-color:white;
  border-radius: 20px;
  margin-left: 40px;
}

.balance-2{
  color: #718EBF;  
  margin-top: 24px;
}

.dollars-1{
  color: #343C6A;
  margin-bottom: 33px;
  font-size: 28px;
  font-weight: bold;
}

.holder{
  color:#718EBF;
}

.Eddy{
  color: #343C6A;
}

.card-number-1{
  border-top:1px solid #DFEAF2 ;
  margin-top: 35px;
  background-color:white;
  height: 75px;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
}

.red{
  color: #FF4B4A; 
  font-size:22px ;
}

.green{
  color: #41D4A8;
  font-size: 22px;
}

.Deposit{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color:#232323 ;
}

.january{
  font-size: 15px;
  color: #718EBF;
}

.right-part{
  padding-left: 30px;
}

.card-three{
  display: flex;
}

.high{
  display: flex;
  align-items: center;
  text-align: center;
}

.recent{
  font-size: 22px;
  margin-left: 90px;
    font-weight: bold;
}

.back-white-1{
  width: 450px;
  height: 250px;
  background-color:white;
  border-radius: 20px;
  margin-left: 40px;
}

.transaction{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
  width: 450px;
}

.from{
  margin: 25px 25px 0px 25px;
  display: flex;
}

.transaction img{
  width: 55px;
  height: 55px;
}

.column{
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.three-in-one{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floor-2{
  margin-left: 40px;
  margin-top: 30px;
}

.graphic{
  width: 950px;
  height: 322px;
}

.floor-2-text{
  width: 1190px;
  display: flex;
  justify-content: space-between;
}

.Weekly{
  padding-bottom: 20px;
  font-size: 22px;
    font-weight: bold;
}

.img-floor-2{
  width: 1360px;
  display: flex;
  justify-content: space-between;
}

.floor-3{
  margin-left: 45px;
}

.Expense{
  font-size: 22px;
    font-weight: bold;
}

.back-white-2{  
  width:600px;
  height: 280px;
  background-color:white;
  border-radius: 25px;
}

.floor-3-text{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.four-img{
  display: flex;
  justify-content: space-around;
  height: 200px;
  text-align: center;
  align-items: center;
}

.img-1{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.floor-2-text-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.write{
  font-size: 16px;
  color: #718EBF;
}

.floor-3-flex{
  display: flex;
}

.graphic-3{
  margin-left: 40px;
}

.Quick{
  font-size: 22px ;
  font-weight: bold;
}

.CEO{
  color: #718EBF;
}
